/* PRESETS */
:root{
    /* COLORS */
    --cream: #fbebd2;
    --red: #cc414c;
    --dark-grey: #322f28;
    --light-brown: #a28762;
    --light-green: #889d64;
    --yellow: #e0b256;
    --light-blue: #628484;

    /* FONTS */
    --ff-derive: "Derive";
    --ff-times: Times;

    --fs-title: 130px;
    --fs-h2: 30px;
    --fs-h3: 20px;
    --fs-p: 20px;

    /* CORNER ROUNDING */

    /* SPACING */
    --section-padding: max(20px, 4vmin);
}

/* RESETS */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, ol, ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

a, img, span, button{
    display: block;
}

button{
    font: inherit;
    background: none;
    border: none;
    cursor: pointer;
}

h1, h2, h3, p{
    font-weight: inherit;
    font-size: inherit;
}

html{
    line-height: 1;
    user-select: none;
    font-family: var(--ff-times);
    scroll-behavior: smooth;
}

@media(min-width: 800px){
    :root{
        --fs-title: 40px;
        --fs-h1: 20px;
        --fs-h2: 16px;
        --fs-h3: 16px;
        --fs-p: 14px;
    }
}

/* FONTS */
@font-face {
    font-family: 'Derive';
    src: url('./assets/fonts/derive-font-1740389714-0/Derive-BF65ea8bbbcb698.ttf');
}

/* STYLING */

html, body{
    height: 100%;
}

body{
    background: var(--cream);
    color: var(--dark-grey); 
    overscroll-behavior: none;
}

#main-frame{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--cream);
    color: var(--dark-grey);
}

.background-design{
    top: var(--section-padding);
    bottom: var(--section-padding);
    left: var(--section-padding);
    right: var(--section-padding);
    position: fixed;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
}

.page-content{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    mix-blend-mode: difference;
}

.content-wrapper{
    position: relative;
    min-height: 100%;
}

.header{
    top: var(--section-padding);
    left: var(--section-padding);
    position: fixed;
    z-index: 10;
}

#section-title{
    margin: -0.1em 0 0 -0.04em;
    font-size: var(--fs-title);
}

#subtitle{
    margin-top: 5px;
    font-size: var(--fs-h2);
}

@media(min-width: 1280px){
    .header{
        font-size: 40px;
    }
}

ol{
    position: relative;
}

.page{
    display: none;
    width: 100%;
}

#home{
    position: absolute;
    right: var(--section-padding);
    left: var(--section-padding);
}

.home-content span{
    display: block;
}

#projects{
    padding: var(--section-padding);
    text-align: right;
    white-space: nowrap;
}

@media(min-width: 1280px){
    #projects{
        padding: var(--section-padding);
    }
}

.projects-list{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 30px;
}

@media(min-width: 1280px){
    .project{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: baseline;
        column-gap: 15px;
    }
}