/* PRESETS */
:root{
    /* COLORS */
    --cream: #fbebd2;
    --red: #cc414c;
    --dark-grey: #322f28;
    --light-brown: #a28762;
    --light-green: #889d64;
    --yellow: #e0b256;
    --light-blue: #628484;

    /* FONTS */
    --ff-derive: "Derive";
    --ff-times: Times;

    --fs-title: 78px;
    --fs-h2: 20px;
    --fs-h3: 18px;
    --fs-p: 16px;

    /* CORNER ROUNDING */

    /* SPACING */
    --section-padding: max(20px, 4vmin);
}

/* RESETS */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, ol, ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

a, img, span, button{
    display: block;
}

button{
    font: inherit;
    background: none;
    border: none;
    cursor: pointer;
}

h1, h2, h3, p{
    font-weight: inherit;
    font-size: inherit;
}

html{
    line-height: 1;
    user-select: none;
    font-family: var(--ff-times);
    scroll-behavior: smooth;
}

@media(min-width: 1024px){
    :root{
        --fs-title: 100px;
        --fs-h2: 30px;
        --fs-h3: 20px;
        --fs-p: 20px;
        --section-padding: 40px;
    }
}

/* FONTS */
@font-face {
    font-family: 'Derive';
    src: url('./assets/fonts/derive-font-1740389714-0/Derive-BF65ea8bbbcb698.ttf');
}

/* STYLING */

html, body{
    height: 100%;
}

body{
    background: var(--cream);
    color: var(--dark-grey); 
    overscroll-behavior: none;
}

#main-frame{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--cream);
    color: var(--dark-grey);
}

.background-design{
    top: var(--section-padding);
    bottom: var(--section-padding);
    left: var(--section-padding);
    right: var(--section-padding);
    position: fixed;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
}

.page-content{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.content-wrapper{
    position: relative;
    min-height: 100%;
}

.header{
    top: var(--section-padding);
    left: var(--section-padding);
    margin: 60px var(--section-padding);
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title{
    margin-bottom: 20px;
}

#section-title{
    margin: -0.1em 0 0 -0.04em;
    font-size: var(--fs-title);
    font-family: 'Derive';
}

#subtitle{
    margin-top: 8px;
    font-size: var(--fs-h3);
    line-height: 1.4;
    max-width: 90%;
}

@media(min-width: 1280px){
    .header{
        font-size: var(--fs-title);
        flex-direction: column;
    }
}

.navbar ol{
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    margin-top: 12px;
    margin-right: var(--section-padding);
    align-items: flex-end;
}

@media (min-width: 1024px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .navbar {
        margin-top: 10px;
        margin-left: 40px;
    }
    
    .navbar ol {
        flex-direction: row;
        column-gap: 30px;
        margin-top: 0;
        
    }

    .section-title{
        display: flex;
        flex-direction: column;
    }
}

.nav-item{
    position: relative;
}

.nav-select{
    position: absolute;
    top: 2px;
    left: 0;
    font-size: var(--fs-p);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s cubic-bezier(0.1, 0.4, 0.2, 0.1);
}

.nav-text{
    font-size: var(--fs-h3);
    position: relative;
    transition: opacity 0.4s cubic-bezier(0.1, 0.4, 0.2, 0.1);
}

.nav-text::before {
    content: "";
    display: block;
    position: absolute;
    left: -5px;
    top: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
}

@media(hover: hover) {
    .nav-text:hover {
        opacity: 0.25;
    }
}

.nav-item.is-selected {
    pointer-events: none;
}

.nav-item.is-selected .nav-select {
    opacity: 1;
}

.nav-item.is-selected .nav-text {
    opacity: 0;
}


/* SECTIONS */

.page{
    display: flex;
    width: 100%;
}

#home{
    position: absolute;
    right: var(--section-padding);
    left: var(--section-padding);
}

.home-content span{
    display: block;
}

#about, #projects{
    position: absolute;
    right: var(--section-padding);
    left: var(--section-padding);
}

.about-content p, .projects-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 70%;
    line-height: 24px;
    text-align: justify;
}

@media(min-width: 1280px){
    #projects{
        padding: var(--section-padding);
    }
    
    #home{
        padding: var(--section-padding);
    }
}

.project-link {
    display: block;
    font-size: var(--fs-h3);
    color: var(--dark-grey);
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), color 0.3s ease;
    margin-bottom: 10px;
    padding: 5px 0;
}

.project-link.active {
    color: var(--red);
    transform: translateX(15px);
}

.project-info {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.6s ease-in-out, max-height 0.8s ease-in-out, padding 0.5s ease-in-out;
    margin-top: 0;
    padding: 0 15px;
}

.project-info.open {
    opacity: 1;
    max-height: 600px;
    margin-top: 15px;
    padding: 15px;
    border-left: 2px solid var(--light-brown);
}

.project-image {
    width: 150px;
    margin: 10px 5px;
    transition: transform 0.3s ease;
}

.project-image:hover {
    transform: scale(1.05);
}

@media(min-width: 1280px){
    .project{
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        column-gap: 15px;
    }
}

#contact{
    position: absolute;
    right: var(--section-padding);
    bottom: var(--section-padding);
    white-space: nowrap;
}

/* CANVAS */
.background-design {
    top: calc(var(--section-padding) + 150px); 
    bottom: var(--section-padding);
    left: var(--section-padding);
    right: var(--section-padding);
    position: fixed;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
}

@media (min-width: 768px) {
    .background-design {
        top: calc(var(--section-padding) + 100px); 
    }
}

#canvas {
    width: 100%;
    height: 100%;
    display: block;
}

/* SMALL SCREENS */
@media (max-width: 768px) {
    :root {
        --section-padding: 15px;
        --fs-title: 60px;
    }
    
    .header {
        margin: 30px var(--section-padding);
        /*flex-direction: column;*/
    }
    
    #section-title {
        font-size: var(--fs-title); 
    }
    
    #subtitle {
        max-width: 70%;
        margin-top: 5px;
        line-height: 1.5;
    }
    
    .navbar ol {
        /*flex-direction: row;*/
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 15px;
        margin-top: 20px;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .about-content p, .projects-content {
        width: 100%;
    }

    #home, #about, #projects, #contact {
        position: absolute;
        right: var(--section-padding);
        left: var(--section-padding);
        top: 150px;
        padding-bottom: 50px;
    }
    
    .project-image {
        max-width: 100%;
        height: auto;
        margin: 10px 0;
    }
}
