/*PRESETS*/
:root{
    --bg-light: hsl(0, 0, 96);
    --text-light: hsl(340, 60, 1);
    --primary-light: hsl(358, 77, 47);
    --secondary-light: hsl(42, 70, 55);
    --accent-light: hsl(221, 47, 25);

    --bg-dark: hsl(0, 0, 4);
    --text-dark: hsl(340, 60, 99);
    --primary-dark: hsl(358, 77, 53);
    --secondary-dark: hsl(42, 70, 45);
    --accent-dark: hsl(221, 47, 75);

    --ff-1: "Derive";
    --ff-2: "Times";

    --h1: 1.5rem/1.3em var(var(--ff-1));
    --h2: 1.124rem/1.3em var(var(--ff-1));
    --h3: 1rem/1.4em var(var(--ff-2));
    --p: 1rem/1.4em var(var(--ff-2));

    --primary-l-30: hsl(358, 77, 47, 30);
    --primary-d-30: hsl(358, 77, 53, 30);

    --section-padding: max(20px, 4vmin);
}

/*RESETS*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, ol, ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

a, img, span, button{
    display: block;
}

h1, h2, h3{
    font-weight: inherit;
    font-size: inherit;
}

html{
    line-height: 1;
    font-family: var(--ff-2);
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Derive';
    src: url('./assets/fonts/derive-font-1740389714-0/Derive-BF65ea8bbbcb698.ttf');
}

/*STYLING*/
html, body{
    height: 100%;
}

body #light-theme{
    background-color: var(--bg-light);
    color: var(--text-light);
}

/*RESPONSIVE STYLING    */